<nav   class="mx-auto text-center"  id="pagination">
	<ul class="pagination mx-auto text-center" >
		<% if(hasPreviousPage){ %>
            <li class="page-item ">
                <a class="page-link" href="?page=<%= previousPage %>">قبلی</a>
            </li>
            <%} %>  
		<% if(!hasPreviousPage){ %>
            <li class="page-item disabled ">
                <a class="page-link disabled" href="#">قبلی</a>
            </li>
            <%} %>  
		<% if(hasPreviousPage){ %>
            <li class="page-item ">
                <a class="page-link" href="?page=1">1</a>
            </li>
            <%} %>  
		<% if(hasPreviousPage && previousPage > 1){ %>
            <li class="page-item ">
                <a class="page-link" href="?page=<%= previousPage %>"><%= previousPage %></a>
            </li>
            <%} %>  

        <li class="page-item active" aria-current="page">
            <a class="page-link active">
                <%= currentPage %> 
			</a>
		</li>
		<% if(hasNextPage&&nextPage !== lastPage&&currentPage !== lastPage )  {%>
            <li class="page-item">
                <a class="page-link" href="?page=<%=nextPage%> ">nextPage</a>
            </li>
        <% } %>  
		<% if(hasNextPage)  {%>
            <li class="page-item">
                <a class="page-link" href="?page=<%=lastPage%> "><%=lastPage%></a>
            </li>
        <% } %>  
		<% if(!hasNextPage)  {%>
            <li class="page-item disabled">
                <a class="page-link disabled" href="# ">بعدی</a>
            </li>
        <% } %>  
		<% if(hasNextPage)  {%>
            <li class="page-item">
                <a class="page-link" href="?page=<%=nextPage%> ">بعدی</a>
            </li>
        <% } %>  
	</ul>
</nav>

